.home {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 20px;
  height: 85vh;
}

.home-left, .home-right {
  /* height: 100%; */
  display: grid;
  align-content: center;
}

.home-left h3 {
  font-weight: 700;
}

.home-left p {
  font-size: 20px;
}

.home-left a {
  justify-self: start;
}

.home-right img {
  width: 100%;
}